button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.deliveryformCards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.deliveryformCard1{
    background-color: #f2b035;
}
.deliveryformimg{
    margin-top: .5em;
    background-color: #f2b035;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5em;
    margin-bottom: .5em;
    border-radius: 50%;
    height: 15em;
}
img{
    object-fit: cover;
}