.home{
    background: #272D55;

}
.nest{
    margin: 30px;
}


.caption{
    color: white;
    font-size: xx-large;
    font-weight: 800;
    margin-bottom: 15px;

}
.first{
    color: white;
    font-size: 12px;
    margin-top: 10px;
    font-size: large;
    margin-bottom: 15px;
}
.solutions{
    background-color: #F2B035;
    padding: 16px 40px;
    border-radius: 27px;
    margin: 10px;
    margin-left: 139px;
}
.town{
    background-color: #353D68;
    color: white;
    font-size: larger;
    margin-left: 160px;
    width: 140px;
    padding: 28px;
}
.client{
    background-color: #060E26;
    color: white;
    margin-left: 300px;
    width: 180px;
    height: 100px;
    padding: 18px;
}

.nest2 img{
    width: 50vw;
    height: 50vh;
    position: relative;
    /* overflow: hidden; */
}
