.home{
    background: #272D55;

}
.nest{
    margin: 30px;
}


.caption{
    font-size: xx-large;
    font-weight: 800;
    margin-bottom: 15px;

}
.first{
    color: black;
    font-size: 32px;
    margin-top: 10px;
    font-size: large;
    margin-bottom: 15px;
}

.pickman img{
    width: 30vw;
    height: 30vh;
    position: relative;

}

#ex{
    background-color: white;
    border: 1px solid #3c6aaf;
}

#exp{
    color: #3c6aaf;
}