.navbar{
    background: #272D55;
}

.quick{
    color: #FF8261;
}

.fleet{
    color: #F2B035;
}

img{
    width: 100px;
    margin-left: -40px;
}

i{
    color: #fff;
}

.line{
    border-top: 2px solid rgb(20, 5, 5);
}
