*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #272D55;
}

/* .navbarr{
    margin-bottom: 20%;
} */

.routes{
    /* margin-top: 10%; */
    padding: 10%
}
